@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand|Rock+Salt');

body, html {
    height: 100%;
    background-color: transparent;
}

.parallax {
    /* The image used */
    background-image: url('images/background_image.jpg');
    position: fixed;
    width: 100%;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.outerCenterContainer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
  margin-bottom: 150px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.075);
}

.innerCenterContainer {
  width: 750px;

  font-size:36px;
  display: inline-block;
}

.social a i{

  color: white;

}
.social {

  margin-bottom: 20px;
  margin-top: 150px;

}
.social  a i:hover {
    color: rgba(0, 0, 0, 0.25)

}
/*intro styles*/
.intro {

  font-size: 14px;
  color: white;
  font-family: 'Dosis', sans-serif;

}

.intro .introImage {

  float: left;
  width: 50%;

}

.intro .introText {

  text-align: left;
  float: right;
  width: 50%;

}
/*navbar styles*/
.navbar {

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 12px;

}

.navbar li {
    float: left;
    font-family: 'Quicksand', sans-serif;
}

.navbar .logo {
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size: 15px;

}

.navbar li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.navbar  li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.25)

}

.navbar .logo a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.0)

}

.navbar .active {
    background-color: #4CAF50;
}

.navbar ul li.right {float: right;}

@media screen and (max-width: 1500px){
    .navbar ul li.right,
    .navbar ul li {float: none;}
    .navbar {text-align: center;}
}
